<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/adapt.css">
<div class="container">
  <div class="titles">
    <div class="title">
      <div class="text">Server logs</div>
      <div class="buttons">
        <a href="/logs">All</a>
        <a class="error" href="/logs?level=error">Error</a>
        <a class="warn" href="/logs?level=warn">Warn</a>
        <a class="info" href="/logs?level=info">Info</a>
        <a class="debug" href="/logs?level=debug">Debug</a>
      </div>
    </div>
  </div>
  <div class="inner">
    <div class="logs">
      {{#each logs}}
        <div class="log {{level}}" data-id="{{_id}}">
          <div class="attribute timestamp" data-val="{{timestamp}}">{{timestamp}}</div>
          <div class="attribute level">{{level}}</div>
          <div class="attribute module">{{module}}</div>
          <div class="attribute data">{{{data}}}</div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<style>
  body {
   --debug-color: #80867e;
   --info-color: #54a4ef;
   --warn-color: #ffc107;
   --error-color: #ff4646;
  }
  .container {
    height: 100vh;
  }
  .title {
    padding: 10px;
  }
  .title .text {
    font-size: 16px;
    font-weight: bold;
  }
  .title .buttons {
    position: absolute;
    top: 1px;
    right: 2px;
    padding: 5px;
  }
  .buttons a {
    display: inline-block;
    min-width: 60px;
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: black;
  }
  .buttons a.debug { background-color: var(--debug-color); }
  .buttons a.info { background-color: var(--info-color); }
  .buttons a.warn { background-color: var(--warn-color); }
  .buttons a.error { background-color: var(--error-color); }
  .inner {
    height: 100%;
  }
  .logs {
    background: #202124;
    color: white;
    padding: 15px;
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
  }
  .log {
    white-space: nowrap;
  }
  .log.debug { color: var(--debug-color); } 
  .log.info { color: var(--info-color); }
  .log.warn { color: var(--warn-color); }
  .log.error { color: var(--error-color); }

  .log > div {
    display: inline-block;
    padding: 3px;
    font-family: monospace;
  }
  .log .attribute.timestamp { color: var(--debug-color) }
  .log .attribute.level { font-weight: bold; }
  .log .attribute.module { text-decoration: underline; }
</style>